@font-face {
  font-family: 'r4'; /* Project id 3407077 */
  src: url('//at.alicdn.com/t/font_3407077_tav1guxktp.woff2?t=1652884388545')
      format('woff2'),
    url('//at.alicdn.com/t/font_3407077_tav1guxktp.woff?t=1652884388545')
      format('woff'),
    url('//at.alicdn.com/t/font_3407077_tav1guxktp.ttf?t=1652884388545')
      format('truetype');
}

.r4 {
  font-family: 'r4' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.r4-bell:before {
  content: '\e629';
}

.r4-search:before {
  content: '\e62a';
}

.r4-setting:before {
  content: '\e62b';
}

.r4-fullscreen-expand:before {
  content: '\e62c';
}

.r4-dashboard:before {
  content: '\e628';
}

.r4-expand:before {
  content: '\e626';
}

.r4-fold:before {
  content: '\e627';
}

.r4-lang:before {
  content: '\e625';
}

.r4-twitter:before {
  content: '\e621';
}

.r4-gitee:before {
  content: '\e622';
}

.r4-weixin:before {
  content: '\e623';
}

.r4-alipay:before {
  content: '\e624';
}

.r4-github:before {
  content: '\e620';
}

.r4-password:before {
  content: '\e61e';
}

.r4-user:before {
  content: '\e61f';
}
