.workBench {
  &-header {
    width: 100%;
    height: 110px;
    position: absolute;
    box-sizing: border-box;
    background-color: var(--card-bg-color);
    top: 0;
    left: 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      align-items: center;

      .weather {
        height: 100%;
        margin-left: 20px;

        p {
          font-size: 20px;
          padding-bottom: 1.5vh;
        }

        span {
          font-size: 14px;
          color: #ccc;
        }
      }
    }

    .right {
      width: 20vw;
      display: flex;
      justify-content: space-around;
      align-items: center;

      &-item {
        text-align: center;

        span {
          color: #8f8f8f;
        }

        p {
          padding-top: 1.5vh;
          font-size: 30px;
        }
      }
    }
  }

  &-body {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

    height: 80vh;

    &-left {
      width: 68%;

      .news {
        margin-top: 15px;
      }
    }

    &-right {
      width: 31%;
      .index {
        margin-top: 15px;
      }
      .team {
        margin-top: 15px;
      }
    }
  }
}
