// 添加hover阴影
.hover-effect {
  &:hover {
    background-color: var(--hover-effect-color);
    cursor: pointer;
  }
}

.hover-text-green {
  &:hover {
    color: var(--submenu-hover-text-color);
    cursor: pointer;
  }
}

// 激活时的样式
.item-active {
  background-color: var(--primary-color-green);
}

// 分析页卡片hover效果
.card-hover-effect {
  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
}

// 个人页 应用 卡片 hover效果
.card-hoverable {
  &:hover {
    box-shadow: 0 0 1px 3px var(--hover-effect-color);
    cursor: pointer;
  }
}
