:root {
  --el-color-primary-light-3: unset;
  --el-fill-color-blank: unset !important;
  --el-fill-color-light: unset !important;
  --el-tree-node-hover-bg-color: var(--submenu-hover-text-color) !important;
}

// dropdown 样式
.el-dropdown-menu {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
}
// message 框样式
.el-message {
  min-width: auto !important;
  padding: 10px 20px !important;
  background-color: var(--card-bg-color) !important;
  border: 1px solid var(--header-border-color) !important;
  p {
    color: var(--search-text-color) !important;
  }
}

// input框样式
.el-input__wrapper,
.el-textarea__inner {
  background-color: var(--search-bg-color) !important;
  border: 1px solid var(--header-border-color) !important;
  color: #c9d1d2 !important;
  box-shadow: unset !important;
}

// button样式
.el-button--primary {
  border-color: var(--header-border-color) !important;
  color: #fff;
  background-color: var(--primary-color-green) !important;
  &:hover {
    color: #fff;
    background-color: #30a872 !important;
  }
}
.el-button--danger {
  border-color: var(--header-border-color) !important;
  color: var(--sidebar-text-color);
  background-color: var(--sidebar-bg-color) !important;
  &:hover {
    color: #fff !important;
    background-color: #30a872 !important;
  }
}

.el-card__header,
.el-card {
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  border-color: var(--header-border-color);
}

.el-tag {
  border-color: var(--header-border-color) !important;
}

// check背景色
.el-checkbox__inner,
.el-checkbox__inner {
  background-color: unset !important;
  border-color: var(--header-border-color) !important;
}

.el-input-group__append {
  box-shadow: unset !important;
  border: 1px solid var(--header-border-color) !important;
}

// table 背景色
.el-table,
.el-table__row,
.el-table__cell,
.el-tree,
.el-pager,
.el-dialog__header,
.el-dialog__body,
.el-dialog__footer,
.el-dialog {
  background-color: var(--table-card-bg-color) !important;
  color: var(--header-text-color) !important;
  border-color: var(--header-border-color) !important;
}
