body.dark-theme {
  // common
  --hover-effect-color: #242424;
  --skeleton-bg-color: #212121; // 骨架屏背景色
  --app-card-bg-color: #212121; // 个人页中应用卡片的背景色
  --table-card-bg-color: #212121; // 表格 的背景色

  // header
  --header-bg-color: #151515; // 背景色
  --header-text-color: #fff; // 文字颜色
  --header-border-color: #303030; // 边框颜色
  --langselect-text-color: #fff; // 语言切换图标颜色

  // sidebar
  --sidebar-bg-color: #212121; // 背景色
  --sidebar-text-color: #ebebeb; // 文字颜色
  --submenu-bg-color: #212121; // 子菜单颜色
  --submenu-text-color: #ccc; // 子菜单文字颜色
  // --submenu-hover-text-color: #fff; // 子菜单hover文字颜色
  --menuitem-bg-color: #2d2d2d; // 菜单项背景色

  // main
  --main-bg-color: #151515; // 背景色
  --main-text-color: #fff; // 文字颜色

  // drawer
  --drawer-title-bg-color: #1f1f1f; // drawer 标题区域背景色
  --drawer-title-text-color: #ccc; // drawer标题区域文字颜色

  // search 组件
  --search-bg-color: transparent; // 搜索框组件背景颜色
  --search-text-color: #fff; // 搜索框文字颜色

  // tagsview 组件
  --tag-bg-color: #151515; // tag背景色

  // 分析页 analysis
  --card-bg-color: #141414;
  --card-text-color: #c8d0d8;

  // element
  --el-color-primary-light-9: #242424;
  --el-color-primary: var(--submenu-hover-text-color); // tabs菜单激活时的颜色
  --el-mask-color: rgba(20, 20, 20, 0.6); // 加载遮罩层的颜色
}
