:deep(.el-header) {
  height: 80px;
  padding: unset;
  border-bottom: 0.5px solid var(--header-border-color);
}

.el-aside,
:deep(.el-menu) {
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
}

:deep(.el-sub-menu__title) {
  background-color: var(--submenu-bg-color);
  color: var(--submenu-text-color);

  &:hover {
    color: var(--submenu-hover-text-color);
  }
}

// 2D2D2D
:deep(.el-menu-item) {
  background-color: var(--menuitem-bg-color);
  color: var(--submenu-text-color);

  &:hover {
    color: var(--submenu-hover-text-color);
  }
}

:deep(.el-menu-item.is-active) {
  background-color: var(--primary-color-green);
  color: #fff;
}

.el-header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
}

.el-main {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

// drawr样式
:deep(.el-drawer__header) {
  margin-bottom: unset;
  padding: 10px;
  background-color: var(--drawer-title-bg-color);
  color: var(--drawer-title-text-color);
  border-bottom: 0.5px solid var(--header-border-color);
}

:deep(.el-divider--horizontal) {
  border-top: 1px solid var(--header-border-color);
}

:deep(.el-divider__text) {
  background-color: var(--drawer-title-bg-color);
  color: var(--drawer-title-text-color);
}

:deep(.el-drawer__body) {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
}

:deep(.el-drawer__body) {
  padding: unset;
}

// switcher
:deep(.el-switch__core) {
  background-color: #151515;
  border-color: unset;
}

:deep(.el-switch.is-checked .el-switch__core) {
  background-color: #151515;
  border-color: unset;
}
